.container{
    margin-bottom: 100px;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #58bcff 0%, #1379ff 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}

